/**
* Accordeon
*/
.accordeon {
    display: flex;                         
    justify-content: flex-start;            
    gap: 20px;                              
  }
  
  
  details {
    display: flex;                          
    flex-direction: row;                    
    align-items: center;                    
    margin: 0;
    padding: 0;
    width: auto;
    cursor: pointer;
    transition: height 0.3s ease-in-out;    
    overflow: hidden;                       
  }
  
  
  summary {
    display: flex;                          
    margin: 0;
    padding: 10px;
  }
  
  
  summary img {
    width: 100px;                           
    height: auto;                           
    margin-right: 10px;                     
    transition: transform 0.3s ease-in-out;  
  }
  
  details[open] p {
    display: block;                         
    padding: 10px;
    font-size: 1em;
    margin: 0;
    width: 200px;                          
    animation: fadeIn 0.5s ease;             
  }
  